<!DOCTYPE html>
<html>
    <head>
       {{>headerlinks}}

    </head>
    <body>
          {{>navbar}}

         <!--main header-->
         <div class="container-fluid main_header">
          <div class = "row">
              <div class = "col-md-10 col-12 mx-auto">
               <div class="row">
                <!--Left side div-->
                <div class = "col-md-12 col-12 main_header_left align-items-center">
                  
                  <figure>
                   <img src="images/404error.png" alt="shubham" class = "img-fluid" title = "shubham technical">
                  </figure>
   
                  
                    <P>Welcome to crystal concept world</P>
                    <h1>  {{errormsg}}</h1>
                     <a href="https://www.youtube.com/@crystalconceptshubham" class="href"><button>About Me</button></a>
                </div>
                <!--right side div-->
             
               </div>
              </div>
          </div>
         </div>
     <!--footer code-->
     {{>footer}}
    </body>
</html>