<!DOCTYPE html>
<html>
    <head>
      
     {{>headerlinks}}
    </head>
    <body>
       {{>navbar}}
       

         <!--main header-->
         <div class="container-fluid main_header">
          <div class = "row">
              <div class = "col-md-10 col-12 mx-auto">
               <div class="row">
                <!--Left side div-->
                <div class = "col-md-6 col-12 main_header_left">
                    <P>Welcome to Weather app</P>
                    <h1>Get The Latest <span class="txt_clr">Weather</span> Info Of Your City</h1>
                     <a href="/weather" class="href"><button>Check Now</button></a>
                </div>
                <!--right side div-->
                <div class = "col-md-6 col-12 main_header_right">
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" > 
                    <div class="carousel-inner">
                      <div class="carousel-item " data-bs-interval="2000">
                        <img src="images/img1.png" class="imgh w-100" alt="...">
                      </div>
                      <div class="carousel-item active" data-bs-interval="2000">
                        <img src="images/img5.png" class="imgh w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="200">
                        <img src="images/img3.png" class="imgh w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev"  href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" role="button" href="#carouselExampleControls" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
               </div>
              </div>
          </div>
         </div>
     <!--footer code-->
    {{>footer}}
    </body>
</html>